<div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Payments</b></h2>
        </div>
        <div class="col-sm-6">
          <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i> <span>New Payment</span></a>
          <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons"></i> <span>Delete</span></a>						
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
            </span>
          </th>
          <th>Debit Account</th>
          <th>Credit Account</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Reason</th>
          <th>Execution Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox1" name="options[]" value="1">
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>8907-0987-6789</td>
          <td>1672-9862-7564</td>
          <td>50,000</td>
          <td>CHF</td>
          <td>Mutual Funds</td>
          <td>21-10-2018</td>
          <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox2" name="options[]" value="1">
              <label for="checkbox2"></label>
            </span>
          </td>
          <td>2367-0987-6789</td>
          <td>1672-1265-7564</td>
          <td>80,000</td>
          <td>CHF</td>
          <td>Bonds</td>
          <td>01-12-2018</td>
          <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox3" name="options[]" value="1">
              <label for="checkbox3"></label>
            </span>
          </td>
          <td>8907-0987-6789</td>
          <td>1672-9862-7564</td>
          <td>50,000</td>
          <td>EUR</td>
          <td>Mutual Funds</td>
          <td>21-10-2018</td>
          <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox4" name="options[]" value="1">
              <label for="checkbox4"></label>
            </span>
          </td>
          <td>4502-0987-6789</td>
          <td>1672-1209-7564</td>
          <td>20,000</td>
          <td>USD</td>
          <td>Growth Equities</td>
          <td>03-11-2018</td>
          <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
          </td>
        </tr>					
        <tr>
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox5" name="options[]" value="1">
              <label for="checkbox5"></label>
            </span>
          </td>
          <td>5648-0987-1287</td>
          <td>2987-0002-7564</td>
          <td>1,50,000</td>
          <td>CHF</td>
          <td>Dividend Equities</td>
          <td>21-10-2018</td>
          <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
          </td>
        </tr> 
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>